<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DocX" version="1.0.0.22" targetFramework="net45" />
  <package id="DynamicLanguageRuntime" version="1.1.2" targetFramework="net45" />
  <package id="FreeSpire.Doc" version="5.7" targetFramework="net45" />
  <package id="IronPython" version="2.7.7" targetFramework="net45" />
  <package id="IronPythonConsole" version="1.1.4.0" targetFramework="net45" />
</packages>